@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" );
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" );
//@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css");
//@import url("https://unpkg.com/mvp.css@1.12/mvp.css");

body {
	font-family: sans-serif;
	text-align: center;
}

.main {
	margin: 0 auto 0 auto;
	max-width: 800px;
}

.add-new-todo {
	.label {
		font-size: large;
	}
	.content {
		display: flex;
		justify-content: center;

		form {
			display: flex;
			flex-direction: column;
			width: 80%;
			justify-content: center;
		}
	}
}

.done {
	text-decoration: line-through;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	.task {
		font-weight: bold;
	}
}

.debug {
	border-color: black;
	border-style: solid;
}
